.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

:root .coloredParagraph {
  color: rgb(76, 86, 88);
}

html[data-theme="dark"] .coloredParagraph {
  color: #9daec5;
}
